 body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  animation: gradientBackground 10s infinite alternate;
  background-image: linear-gradient(0deg, #499dbf, #16a4d3, #2c65f3);
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: white;
  width: 100%; /* Adjust container width */
  max-width: 1100px; /* Ensure container doesn't stretch too wide */
  border-radius: 10px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  flex: 1;
}

.search-bar img {
  cursor: pointer;
}

.weather-icon {
  width: 50px;
  margin: 20px 0;
}

.temperature {
  font-size: 40px;
  font-weight: bold;
}

.location {
  font-size: 24px;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

